<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="h" class="com.lee.sdi.main.Human"></bean>

	<bean id="h2" class="com.lee.sdi.main.Human">
		<!-- java의 setter를 활용하여 객체에 값을 넣어준 것 -->
		<property name="name" value="홍길동"></property>
		<property name="age" value="20"></property>
	</bean>
	<bean id="h3" class="com.lee.sdi.main.Human">
		<!-- java의 생서자를 활용하여 객체에 값을 넣어준 것 -->
		<constructor-arg value="활빈당"></constructor-arg>
		<constructor-arg value="25"></constructor-arg>
	</bean>
	<bean id="m" class="com.lee.sdi.main.Monster">
		<property name="name" value="좀비"></property>
		<property name="age" value="100"></property>
	</bean>
	<bean id="m2" class="com.lee.sdi.main.Monster">
		<constructor-arg value="좀비2"></constructor-arg>
		<constructor-arg value="120"></constructor-arg>
	</bean>
</beans>
